<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="footer">
    <hr>
    <div class="footer-link">
      {% if site.author.facebook %} <a href="https://www.facebook.com/{{%20site.author.facebook%20}}"></a> {% endif %} {% if site.author.twitter %} <a href="https://twitter.com/{{%20site.author.twitter%20}}"></a> {% endif %} {% if site.author.github
      %} <a href="https://github.com/{{%20site.author.github%20}}"></a> {% endif %} {% if site.author.linkedin %} <a href="https://www.linkedin.com/in/{{%20site.author.linkedin%20}}"></a> {% endif %} {% if site.author.medium %} <a href=
      "https://medium.com/@{{%20site.author.medium%20}}"></a> {% endif %} {% if site.author.tumblr %} <a href="https://{{%20site.author.tumblr%20}}.tumblr.com"></a> {% endif %} {% if site.author.email %} <a href=
      "mailto:{{%20site.author.email%20}}"></a> {% endif %}
    </div>© {{ "now" | date: "%Y" }} {{ site.author.name }}. All rights reserved.
  </div>
</body>
</html>
